
//fondo
.fondo {
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100%;
}

//body
body {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    background-image: url(./img/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: 1550px;
}